html,body{
  height: 100%;
}
body, a , button, input, optgroup, select, textarea {
  background-color: #fff;
  font-family: 'Montserrat'!important;
} 
nav.navbar-default {
  background-color: #fff;
}
label.file-upload {
  width: 185px;
}
i.fa-times {
  cursor: pointer;
}
label.control-label {
  position: relative;
  top: 5px;
}
.r-value-chart-style{
  width: 100%!important;
  min-height: 350px;
}
md-sidenav{
  height: 10000px;
}
div.md-list-item-text{
  padding: 0px!important;
}
.dropdown-toggle,.dropdown-toggle:hover  ,.dropdown-toggle:focus  {
  color: #000;
}
.dropdown-toggle:hover  {
  color: #000;
}
div.uploadcare-widget{
  position: relative;
  left: -15px;
}
.md-list-item-text{
  padding: 0px;
}
md-content { height: 100%; }
md-list-item{
  cursor: pointer;
}
div.uploadcare-widget-button-open,  div.uploadcare-widget-button-open:hover, div.uploadcare-widget-button-open:focus{
  background-color: #000;
}
.ft-graph-tooltip{
  width: 280px;
  max-height: 150px;
  padding: 5px; 
  border-radius: 10px;
  background-color: rgba( 77,77,77, 0.75 );
}
.ft-row{
      margin: 1px;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      display: flex;
      flex-direction: row;
      max-height: 40px;
 
}
.ft-header-left{
  height: 100%;
     padding: 0px;
         display: flex;
         flex-basis: 10%;
         flex-grow: 1;
        flex-wrap: nowrap;
       justify-content: center;
       background-color: rgba(5,5,5,0.35);
        color: #fff;  
  font-size: 16px;
}
.ft-header-right{
  height: 100%;
     padding: 0px;
         display: flex;
         flex-basis: 90%;
         flex-grow: 1;
        flex-wrap: nowrap;
       justify-content: center;
       background-color: rgba(5,5,5,0.35);
        color: #fff;  
  font-size: 16px;
}
div.google-visualization-tooltip{
  border:none;
  background: none;
  background-color: transparent; 
}
.ft-header{
     padding: 0px;
         display: flex;
         flex-basis: 100%;
         flex-grow: 1;
        flex-wrap: wrap;
       justify-content: center;
       background-color: rgba(5,5,5,0.35);
        color: #fff; 
  border-radius: 3px;
    font-size: 16px;
}
.ft-lcol{
        height: 100%;
         padding: 5px;
         display: flex;
         flex-basis: 50%;
         flex-grow: 1;
        flex-wrap: wrap;
        justify-content: flex-start;
          background-color: rgba(5,5,5,0.35);
        color: #fff; 
  border-radius: 3px;
}
.ft-rcol{
          padding: 5px;
         display: flex;
         flex-basis: 50%;
         flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
        color: #fff;
}
.form-multiline .form-group {
    margin-bottom: 15px;
    margin-right: 30px;
}
.form-multiline label,
.form-multiline .form-control {
    margin-right: 15px;
}
.navbar > .navbar-header > img.fentrend-logo {
   width: 100px;
   position:relative;
   top: 12px;
    border:none;
}

.angular-input-group {
		position: relative!important;
		padding-top: 20px!important;
		margin-top: 20px!important;
}

.angular-input-group:after {
		content: ""!important;
		display: table!important;
		clear: both!important;
}

.angular-input-group input {
		border: none!important;
		border-bottom: solid 1px #000!important;
		width: 100%!important;
		padding: 10px 0!important;
		transition: border-color 0.2s ease, box-shadow 0.2s ease!important;
}

.angular-input-group input:focus {
		outline: none!important;
		border-color: #0000ff!important;
		box-shadow: 0 1px 0 0 #0000ff!important;
}

.angular-input-group label {
		position: relative!important;
		top: -30px!important;
		left: 0!important;
		color: #aaa!important;
		font-weight: 300!important;
		transition: transform 0.2s ease, color 0.2s ease!important;
}

.angular-input-group label:hover {
		cursor: text!important;
}

.angular-input-group input:focus + label {
		color: #0000ff!important;
}

.angular-input-group input:focus + label,
.angular-input-group input.active + label {
		transform: translateY(-45px)!important;
}
    paper-toolbar + paper-toolbar {
      margin-top: 20px;
      background: #000!important;
      color: #fff!important;
    }

 .avatar {
      display: inline-block;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background: var(--paper-black-500);
      background-color: black;
      color: white;
      line-height: 32px;
      font-size: 16px;
      text-align: center;
     display: inline-block;
    }

    md-card .title {
      position: relative; 
      display: inline-block;
      width: 280px;
      left: 50px;
      top: -25px;
      color: var(--paper-indigo-500);
    }

    .fancy img {
      width: 100%;
    }

    .fancy .big {
      font-size: 22px;
      padding: 8px 0 16px;
      color: var(--google-grey-500);
    }
md-content{
  padding: 0px!important;
}
md-input-container.md-icon-float {
  width: 100%;
}
md-input-container.md-icon-float>label {
  margin: 0px!important;
}
  .fancy .medium {
      font-size: 16px;
      position: relative;
      top: -25px;
      left: -35px;
    }
    paper-checkbox {
      padding: 5px;
    }
paper-material.paper-material-0[elevation="1"] {
  padding-bottom: 16px;
  padding-top: 16px;
}
paper-card.paper-card-0 .card-content {
  padding-bottom: 0px;
  padding-top: 0px;
}
md-icon{
  cursor: pointer;
}
 
   #logout {
        cursor: pointer;
        cursor: hand;
      } 
      paper-toolbar + paper-toolbar {
        margin-top: 20px;
        --paper-toolbar-background: #000;
      } 
    paper-toolbar.paper-toolbar-0 {
    background: #000;
    color: #fff;
       font-family: 'Montserrat'!important;
    }
       #cards {
      @apply(--layout-vertical);
      @apply(--center-justified);
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
          font-family: 'Montserrat'!important;
    }

    paper-card {
      width: 100%;
      margin-bottom: 16px;
       font-family: 'Montserrat'!important;
    }
.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }
.checkboxdemoBasicUsage .checkboxDemo1 md-checkbox {
  float: left; }
.checkboxdemoBasicUsage p {
  padding-left: 8px; }
.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }
.checkboxdemoBasicUsage legend {
  color: #3F51B5; }
.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }
.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }
md-checkbox.md-checked .md-icon {
    background-color: rgba(0,0,0,0.87);
}
.checkbox-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -ms-box-orient: horizontal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrap { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; 
}
md-card{
  padding: 15px;
}
.checkbox-cell {
  width: 230px;
  height: 60px;
  padding: 8px;
}
    .aside .aside-dialog .aside-header {
      background: #000;
      height: 65px;
      font-family: 'Montserrat'!important;
      padding-top: 15px;
      padding-left: 75px; 
    }
    #product-menu{
         list-style-type: none;
    }
    .aside-header { 
        padding-top: 15px;
        padding-left: 75px; 
      }