body, a , button, input, optgroup, select, textarea {
  background-color: #fff;
  font-family: 'Montserrat'!important;
  color: #000;
}  
.paper-input-container-0 .input-content.paper-input-container input, .paper-input-container-0 .input-content.paper-input-container textarea, .paper-input-container-0 .input-content.paper-input-container iron-autogrow-textarea, .paper-input-container-0 .input-content.paper-input-container .paper-input-input {
    font-family: 'Montserrat'!important;
    color: #000;
}
.paper-input-container-0 .input-content.paper-input-container label, .paper-input-container-0 .input-content.paper-input-container .paper-input-label {
   font-family: 'Montserrat'!important;
}



.form-signin  {
  background-color: #fff;
  font-family: 'Montserrat'!important;
  color: #000;
}
div.form-signin > input { 
  background-color: #e9e9e9;
  margin-bottom:2px!important;
  border: 1px solid #fff!important;
  border-bottom: 1px solid #000!important;
}
.form-control:focus {
  box-shadow: none;
  border-color: #fff;
}
img.fentrend-logo {
   width: 100px;
   position:relative;
   top: 12px;
    border:none;
}
button{
  margin-top: 10px!important;
}
.input-group {
		position: relative;
		padding-top: 20px;
		margin-top: 20px;
}

.input-group:after {
		content: "";
		display: table;
		clear: both;
}

.input-group input {
		border: none;
		border-bottom: solid 1px #000;
		width: 100%;
		padding: 10px 0;
		transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-group input:focus {
		outline: none;
		border-color: #0000ff;
		box-shadow: 0 1px 0 0 #0000ff;
}

.input-group label {
		position: absolute;
		top: 30px;
		left: 0;
		color: #aaa;
		font-weight: 300;
		transition: transform 0.2s ease, color 0.2s ease;
}

.input-group label:hover {
		cursor: text;
}

.input-group input:focus + label {
		color: #0000ff;
}

.input-group input:focus + label,
.input-group input.active + label {
		transform: translateY(-30px);
}