@font-face {
  font-family: 'AvenirNextCondensed';
  src: url('/font/AvenirNextLTPro-Cn.otf');
}
.form-signin
{
    width: 360px;
    max-width: 360px;
    padding: 30px;
    margin: 0 auto;
    background-color: #eeeeee;
    border: none;
    outline: none;
   font-family: 'AvenirNextCondensed', Arial;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
   font-family: 'AvenirNextCondensed', Arial;
    margin-bottom: 10px;
}
.form-signin .checkbox
{
   font-family: 'AvenirNextCondensed', Arial;
    font-weight: normal;
}
.form-signin .form-control
{
   font-family: 'AvenirNextCondensed', Arial;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
/*     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}
.form-signin .form-control:focus
{
   font-family: 'AvenirNextCondensed', Arial;
    z-index: 2;
}
.form-signin input[type="text"]
{
   font-family: 'AvenirNextCondensed', Arial;
    margin-bottom: 1px; 
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
   border: none;
    outline:none;
}
.btn:hover{
  color: #269ae4;
  background-color: #ffffff;
   font-family: 'AvenirNextCondensed', Arial;
}
a, u {
    text-decoration: none;
   font-family: 'AvenirNextCondensed', Arial;
}
a:hover, u:hover{
  text-decoration:none;
   font-family: 'AvenirNextCondensed', Arial;
}
.form-signin input[type="password"]
{
    margin-top: 1px;
    margin-bottom: 15px; 
    border-radius: 0px;
    border: none;
    outline:none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
   font-family: 'AvenirNextCondensed', Arial;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   font-family: 'AvenirNextCondensed', Arial;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
   font-family: 'AvenirNextCondensed', Arial;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
   font-family: 'AvenirNextCondensed', Arial;
}
.need-help
{
    margin-top: 10px;
   font-family: 'AvenirNextCondensed', Arial;
}
.new-account
{
    display: block;
    margin-top: 10px;
   font-family: 'AvenirNextCondensed', Arial;
}

html,
body {
  height: 100%;
   font-family: 'AvenirNextCondensed', Arial;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
   font-family: 'AvenirNextCondensed', Arial;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #eee;
   font-family: 'AvenirNextCondensed', Arial;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
   font-family: 'AvenirNextCondensed', Arial;
}
}