<div class="angular-input-group"  ng-controller="TypeaheadDemoCtrl"> 
  <input class="m-input" type="text"  ng-model="modelValue" data-animation="am-flip-x" bs-options="address.formatted_address as address.formatted_address for address in getRequestedAddress($viewValue)"  name="{{formName}}" id="{{formName}}" bs-typeahead> 
   <label for="{{formName}}">{{labelName}} </label> 
</div> 