

<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title" style="font-family: 'Montserrat';"></h4>
      </div>
      <div class="aside-body" ng-show="content">
       <div class="bs-docs-section" ng-controller="TypeaheadDemoCtrl">
<!--        <ul class="nav in" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input  ng-model="selectedSearch" typeahead-editable="false" typeahead-on-select='onSelect($search, $model, $label)'  bs-options="search.name for search in searches" type="text" class="form-control" placeholder="Search..."  bs-typeahead>
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div> 
                        </li> 
       </ul>  -->
         <ul class="nav navbar-nav side-nav">
           <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#product-menu"> Products <i class="fa fa-fw fa-caret-down"></i></a>
                         <ul id="product-menu" class="collapse" aria-expanded="true">
                            <li>
                                <a href="#">Create Window</a>
                            </li>
                            <li>
                                <a href="#">Create Door</a>
                            </li>
                            <li>
                                <a href="#">Create Sky Light</a>
                            </li>
                        </ul>
           </li>
           
         </ul>
         <ul  class="nav in" style="margin-top: 25px;" >
           <li style="margin-top: 15px;" class="sidebar-search"   ng-repeat="si in searches | itemIsSelected">
<!--            <text-search-item formId="{{si.formId}}" formType="{{si.formType}}" formName="{{si.name}}"></text-search-item> -->
           <label for="{{si.formId}}" style="font-family: 'Montserrat'!important;">{{si.name}}</label>
           <div class="input-group custom-search-form" ng-if="si.formType=='text'">
                              
                                <input type="{{si.formType}}" class="form-control" name="{{si.formId}}" id="{{si.formId}}" placeholder="{{si.name}}" >
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button" ng-click="si.isSelected = false" >
                                      <i class="fa fa-times"></i>
                                  </button>
                                </span>
           </div>
           <div class="input-group custom-search-form" ng-if="si.formType=='select'">
                              
<!--                                 <input type="{{si.formType}}" class="form-control" name="{{si.formId}}" id="{{si.formId}}" placeholder="{{si.name}}" > -->
                                <input type="text" class="form-control" ng-model="si.selectedIcon" data-min-length="0" data-html="1" data-auto-select="true" data-animation="am-flip-x" bs-options="icon as icon.label for icon in si.icons" placeholder="Select {{si.name}}" bs-typeahead>

                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button" ng-click="si.isSelected = false" >
                                      <i class="fa fa-times"></i>
                                  </button>
                                </span>
           </div>
           </li>
         </ul>
        </div>
       
      </div>
      <div class="aside-footer">
<!--         <button type="button" class="btn btn-default" ng-click="$hide()">Close</button> -->
<!--         <button type="button" class="btn btn-primary" ng-click="$hide()">Search</button> -->
      </div>
    </div>
  </div>
</div>