<md-bottom-sheet class="md-grid" layout="row">
  <md-list flex layout="row" layout-align="center center">
    <md-list-item ng-repeat="item in items">

      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
        <!-- <md-icon md-svg-src="{{item.icon}}"></md-icon> -->
        
         <md-icon md-font-library="material-icons">{{item.icon}}</md-icon>
        <div class="md-grid-text"> {{ item.name }} </div>
      </md-button>

    </md-list-item>
  </md-list>
</md-bottom-sheet>