 
                                    <md-card> 
                                      <div class="avatar"><i class="fa fa-windows"></i></div>
                                                 <div class="title">
                                                   <div class="medium">Comments </div> 
                                                 </div>
                                       <md-card-content>   
                                        <paper-textarea name="comments" id="comments" label="Comments" char-counter></paper-textarea>
                                       </md-card-content>   
                                    </md-card> 
 
 