  <div class="col-lg-12">
    <div class="col-lg-2">
          <label style="width: 170px;position: relative; top: 30px;left: -30px;" for="{{formName}}">{{labelName}}</label> 
    </div>
  <!-- <button style="min-width: 150px;" name="{{formName}}" id="{{formName}}" type="button" class="btn btn-default" ng-model="chooseItems"  data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in selectItems" bs-select>Action <span class="caret"></span></button> --> 
  <div class="checkbox-row wrap col-lg-10"> 
  <div  ng-repeat="(v , label)  in selectItems" class="checkbox-cell">
  <!--       <paper-checkbox name="{{label.value}}" id="{{label.value}}">{{label.value}}</paper-checkbox> -->
       <md-checkbox ng-model="label.selected" aria-label="{{label.value}}">
            {{label.value}}
       </md-checkbox>
    </div>

  </div>
</div>