<div class="form-group col-lg-12">
<!--                                                         <label style="position: relative; top: 5px;left:-15px;" class="col-lg-2" for="{{formName}}">{{labelName}} </label> -->
  
<!--    name="{{formName}}" id="{{formName}}" ng-model="modelValue" class="form-control"  -->
                                                        <div style="marign: 0px; padding: 0px;" class="col-lg-12">
                                                          <paper-input label="{{labelName}}" auto-validate pattern="[0-9]*" error-message="numbers only!" name="{{formName}}"  id="{{formName}}" ng-model="modelValue"  type="number"></paper-input>
<!--                                                         <input  name="{{formName}}" id="{{formName}}" ng-model="modelValue" class="form-control" placeholder="{{placeholderText}}" type="number" min="{{minValue}}" style="width: 100%;">   -->
  </div>

</div> 