<div class="form-group col-lg-12">
<!--                                                         <label style="position: relative; top: 5px;left:-15px;" class="col-lg-2" for="{{formName}}">{{labelName}} </label> -->
                                                        <div style="marign: 0px; padding: 0px;" class="col-lg-12">
                                                                <paper-input  id="{{formName}}"  ng-model="modelValue" label="{{labelName}}"></paper-input>
<!--                                                         <input  name="{{formName}}" id="{{formName}}" ng-model="modelValue" class="form-control" placeholder="{{placeholderText}}" style="width: 100%;">   -->
  </div>

</div> 