<!-- <div class="col-lg-12">
  <div class="btn-group pull-right" style="margin-: 20px;"> <button style="width: 100px;" type="button" class="btn btn-default dropdown-toggle"> SAVE&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-floppy-save"></span> </button>  </div> 
</div> -->

 <paper-fab icon="save" title="save" tabindex="0" class="save-button" data-ng-click="addServicePartner()"></paper-fab>