<div class="form-group col-lg-12" >
<label style="width: 170px;" for="{{formName}}">{{labelName}}</label> 
<button style="min-width: 150px;"  name="{{formName}}" id="{{formName}}" type="button" class="btn btn-default" ng-model="chooseItems"  data-html="1"  data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in selectItems" bs-select>Action <span class="caret"></span></button>
</div>