<div class="form-group col-lg-6">
<div style="marign-right: 10px; padding: 0px;position: relative;top: -25px;" class="col-lg-8">
           <paper-input  id="{{formName}}"  ng-model="modelValue" label="{{labelName}}"></paper-input>
<!--          <input  name="{{formName}}" id="{{formName}}" ng-model="modelValue" class="form-control" placeholder="{{placeholderText}}" style="width: 100%;">   -->
  </div>
 <div style="marign: 0px; padding: 0px;position: relative; right: -20px;" class="col-lg-4">
   <button style="min-width: 150px;" name="{{formNameSelect}}" id="{{formNameSelect}}" type="button" class="btn btn-default" ng-model="chooseItems"  data-html="1"  data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in selectItems" bs-select>Action <span class="caret"></span></button>
 </div>
</div> 