<label for="{{formId}}">{{formName}}</label>
<div class="input-group custom-search-form">
                              
                                <input type="{{formType}}" class="form-control" name="{{formId}}" id="{{formId}}" placeholder="{{name}}" >
                                <span class="input-group-btn">
<!--                                   ng-click="si.isSelected = false" -->
                                      <button class="btn btn-default" type="button"  >
                                          <i class="fa fa-times"></i>
                                      </button>
                                </span>
</div>