 
<!--                                                         <label style="position: relative; top: 5px;left:-15px;" class="col-lg-2" for="{{formName}}">{{labelName}} </label> -->
                                          
                                                                <paper-input  id="{{formName}}"  ng-model="modelValue" label="{{labelName}}"></paper-input>
<!--                                                         <input  name="{{formName}}" id="{{formName}}" ng-model="modelValue" class="form-control" placeholder="{{placeholderText}}" style="width: 100%;">   -->
 

 