<div class="form-group col-lg-12">
     <label class="file-upload"  for="{{formName}}">{{labelName}} </label>
    <input ng-model="modelValue" type="hidden" picture="{{formName}}" name="{{formName}}" id="{{formName}}" role="uploadcare-uploader" /> <div style="display: inline-block; position: relative" ><i class="fa fa-close" style="cursor: pointer;"  data-ng-click="removeTestReport($index)"></i></div>
</div> 