<div class="form-group">
     <label class="file-upload"  for="{{formName}}">{{labelName}} </label>
    <input ng-model="modelValue" type="hidden" picture="{{formName}}" name="{{formName}}" id="{{formName}}" role="uploadcare-uploader" /> 
</div> 